.container {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 150px;
    display: inline-block;
    border: 3px solid #b18585;
}

.lesson tr:hover {
    background-color: lightblue;
    transition: background-color 0.3s ease;
}

.lesson {
    color: red
}

.first {
    color:aqua;
}

.second {
    color: darkblue;
}

.third {
    color:blueviolet;
}

.fourth {
    color: crimson;
}

.fifth {
    color: cornflowerblue;
}
